/* also-mobile基础样式重置 */
	body, html{
		height: 100%;
		background: #efeff4;
		font-size: 16px;
	}
	.title{
		color: #36b9bf;
	}
	.weui-cells{
		margin-top: 10px;
		font-size: 16px;
	}
	.weui-navbar__item{
		background: #fff;
	}
	.weui-navbar__item:after{
		display: none;
		content: "";
		position: absolute;
		left: 50%;
		top: calc(100% - 2px);
		margin-left: -25px;
		width: 50px;
		height: 2px;
		background: #36b9bf;
		 -webkit-transform: scaleX(1); 
		-ms-transform: scaleX(1);
		 transform: scaleX(1); 
	}
	.weui-navbar__item.weui-bar__item_on{
		color: #36b9bf;
		background: #fff;
	}
	.weui-navbar__item.weui-bar__item_on:after{
		display: block;
	}
	.weui-btn_primary{
		background: #36b9bf;
	}
	.weui-btn_primary:not(.weui-btn_disabled):active{
		background: #36b9bf;
	}
	.weui-panel:first-child{
		margin-top: 10px;
	}
	.weui-panel:last-child{
		margin-bottom: 10px;
	}
	.weui-media-box__desc{
		font-size: 16px;
		color: #333;
		line-height: 1.4;
	}
	.weui-media-box__info{
		margin-top: 0;
		padding-top: 15px;
		color: #666;
	}
	.weui-grid:after,.weui-grid:before{
		border: none;
	}
	.weui-grid__icon{
		width: 36px;
		height: 36px;
	}
	.weui-picker__action{
		color: #36b9bf;
	}
	.weui-cell__bd{
		color: #666;
	}
/* alsoTopBar 微信浏览器下不显示 */
	.also-header-wrap{
		height: 46px;
	}
	.also-header {
		position: fixed;
		width: 100%;
		padding: 3px 0;
		box-sizing: border-box;
		background-color: #36b9bf;
		z-index: 999;
	}
	.also-header .also-header-title {
		line-height: 40px;
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		color: #fff;
	}
	.also-header-title-area,
	.also-header .also-header-title {
		margin: 0 88px;
		height: 40px;
		width: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.also-header .also-header-title > span {
		display: inline-block;
	}
	.also-header .also-header-left,
	.also-header .also-header-right {
		position: absolute;
		top: 14px;
		display: block;
		font-size: 14px;
		line-height: 21px;
		color: #ccc;
	}
	.also-header .also-header-left a,
	.also-header .also-header-left button,
	.also-header .also-header-right a,
	.also-header .also-header-right button {
		float: left;
		margin-right: 8px;
		color: #fff;
	}
	.also-header .also-header-left a:active,
	.also-header .also-header-left button:active,
	.also-header .also-header-right a:active,
	.also-header .also-header-right button:active {
		opacity: 0.5;
	}
	.also-header .also-header-left {
		left: 18px;
	}
	.also-header .also-header-left .also-header-back {
		padding-left: 16px;
	}
	.also-header .also-header-left .left-arrow {
		position: absolute;
		width: 30px;
		height: 30px;
		top: -5px;
		left: -5px;
	}
	.also-header .also-header-left .left-arrow:before {
		content: "";
		position: absolute;
		width: 12px;
		height: 12px;
		border: 1px solid #fff;
		border-width: 1px 0 0 1px;
		-webkit-transform: rotate(315deg);
		transform: rotate(315deg);
		top: 8px;
		left: 7px;
	}
	.also-header .also-header-right {
		right: 15px;
	}
	.also-header .also-header-right a,
	.also-header .also-header-right button {
		margin-left: 8px;
		margin-right: 0;
	}
	.also-header .also-header-right .also-header-more:after {
		content: "\2022   \2022   \2022   ";
		font-size: 16px;
	}
	.also-header-fade-in-right-enter-active {
		-webkit-animation: fadeinR .5s;
		animation: fadeinR .5s;
	}
	.also-header-fade-in-left-enter-active {
		-webkit-animation: fadeinL .5s;
		animation: fadeinL .5s;
	}
/* 日历 */
	#also-date{
		height: 50px;
		overflow: hidden;
	}
	.laydate-theme-also{
		width: 100%;
		box-shadow: none!important;
		background: none!important;
		border: none!important;
	}
	.laydate-theme-also .laydate-prev-y, .laydate-theme-also .laydate-next-y{
		display: none;
	}
	.laydate-theme-also .layui-laydate-header i.laydate-prev-m{
		left: 0;
	}
	.laydate-theme-also .layui-laydate-header i.laydate-next-m{
		right: 0;
	}
	.laydate-theme-also .layui-laydate-main, .laydate-theme-also .layui-laydate-content, .laydate-theme-also .layui-laydate-content table{
		padding: 0;
		width: 100%;
		background-color: #fff;
		white-space:nowrap;
	}
	.laydate-theme-also .layui-laydate-main{
		clear: both;
		height: 50px;
		overflow-y: hidden;
	}
	.laydate-theme-also .layui-laydate-content{
		float: left;
		width: 70%;
		height: 50px;
		overflow: hidden;
		overflow-x: scroll;
		overflow-y:hidden;
		padding-bottom:11px; /*iphone safari 去掉滚动条*/
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		backface-visibility: hidden;
		-webkit-overflow-scrolling: touch; /* 当手指从触摸屏上移开，会保持一段时间的滚动 */
		-webkit-overflow-scrolling: auto; /* 当手指从触摸屏上移开，滚动会立即停止 */
		transition-duration: .3s;
		-webkit-transition-duration: .3s;
	}
	.laydate-theme-also .layui-laydate-content::-webkit-scrollbar{
		display:none; 
		width:0px;
		-webkit-appearance: none; 
	}
	.laydate-ym-show .layui-laydate-content table{
		display: none;
	}
	.laydate-ym-show .layui-laydate-list{
		display: block;
		width: 100%;
		height: 30px;
	}
	.layui-laydate-list>li{
		padding: 0!important;
		margin: 0!important;
		height: 32px!important;
		line-height: 32px!important;
	}
	.laydate-theme-also .layui-laydate-header{
		float: right;
		width: 30%;
		padding: 10px 0;
		font-size: 14px;
		background: #fff;
		box-shadow: -2px 0 5px #ebebeb;
		z-index: 100;
	}
	.laydate-set-ym{
		font-size: 14px;
	}
	.layui-laydate .layui-this{
		background-color: #36b9bf!important;
	}
	.laydate-theme-also .layui-laydate-header i{
		display: none!important;
	}
	.laydate-theme-also .layui-laydate-content table{
	}
	.laydate-theme-also .layui-laydate-content table thead{
		display: none;
	}
	.laydate-theme-also .layui-laydate-content table tbody{
		white-space:nowrap;
	}
	.laydate-theme-also .layui-laydate-content table tr{
		display: inline-block;
		height: 30px;
		margin: 10px 0;
	}
	.laydate-theme-also .layui-laydate-content table th, .laydate-theme-also .layui-laydate-content table td{
		font-size: 16px;
		border-radius: 50%;
		padding: 5px;
		height: 30px;
		width: 32px;
		font-size: 14px;
	}
	.laydate-theme-also .layui-laydate-content table td.layui-this{
		background: #36B9BF!important;
	}
	.laydate-theme-also .layui-laydate-header{
		color: #666;
		border: none;
	}
	.laydate-set-ym span:hover, .layui-laydate-header i:hover{
		color: #36B9BF!important;
	}
	.laydate-theme-also .laydate-day-mark{
		font-size: 14px;
		line-height: 32px;
	}
	.laydate-theme-also .laydate-day-mark::after{
		content: '';
		width: 6px;
		height: 6px;
		left: 15px;
		top: auto;
		bottom: 0px;
		background-color: #aaa;
	}
/* also-style */
	.also-small-title{
		font-size: 13px;
		color: #666;
		margin: 15px 0 -5px 15px;
	}
	.also-title{
		font-size: 15px;
		padding: 14px 15px 10px;
		position: relative;
		clear: both;
	}
	.also-title::after{
		position: absolute;
		content: '';
		width: 30px;
		height: 3px;
		left: 15px;
		bottom: 0px;
		background-color: #36b9bf;
	}
	.also-grids{
		min-height: 50px;
	}
	.also-grids .weui-grid{
		width: 25%;
		background-color: #fff;
	}
	.also-grids .weui-grid:active {
		background-color: #f7f7f7
	}
	.also-grids:before{
		border: none;
	}
	.also-as-btn-wrap{
		float: right;
		margin-top: -5px;
	}
	a.also-as-btn{
		position: relative;
		display: block;
		height: 14px;
		line-height: 14px;
		font-size: 13px;
		color: #fff;
		padding: 5px 10px 5px 30px;
		border-radius: 15px;
		overflow: hidden;
	}
	a.also-as-btn::before{
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		left: 8px;
		top: 4px;
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(../img/face.png);
	}
	.as-btn1{
		background-color: #de9a3f;
		box-shadow: 0px 2px 5px rgba(222, 154, 63, .5);
	}
	.as-btn2{
		background-color: #36bf73;
		box-shadow: 0px 2px 5px rgba(54, 191, 115, .5);
	}
	.as-btn3{
		background-color: #e75b5b;
		box-shadow: 0px 2px 5px rgba(231, 91, 91, .5);
	}
	.also-btn-wrap{
		padding: 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.also-btn-flex{
		display: -webkit-box;
		display: flex;
	}
	.also-a-l{
		text-align: left;
	}
	.also-a-r{
		text-align: right;
	}
	.also-btn-text{
		flex: 1;
		color: #36b9bf;
	}
	.also-p-title{
		color: #36b9bf;
		margin-right: 10px;
	}
	.also-actionBar-seat{
		height: 50px;
		position: relative;
	}
	.also-actionBar{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 999;
		left: constant(safe-area-inset-left);
		right: constant(safe-area-inset-right);
	}
	.also-actionBar-wrap{
		--origin-safe-area-inset-bottom: 0px;
		width: 100%;
		height: 50px;
		background-color: #f7f7fa;
		line-height: 50px;
		display: -webkit-box;
		display: flex;
		text-align: center;
		--safe-area-inset-bottom: var(--windvane-safe-area-inset-bottom, var(--origin-safe-area-inset-bottom));
		padding-bottom: var(--safe-area-inset-bottom);
	}
	.preserved, .advanced{
		display: block;
		flex: 1;
		height: 50px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.preserved{
		min-width: 40%;
		color: #fff;
		background-color: #36b9bf;
	}
	.advanced{
		text-align: left;
		padding-left: 15px;
		min-width: 60%;
		color: #333333;
	}
	.advanced strong{
		height: 25px;
		line-height: 35px;
		display: block;
	}
	.advanced span{
		line-height: 25px;
		font-size: 12px;
		display: block;
	}
	.also-tab{
		position: relative;
		height: 100%;
	}
	.also-tab__panel{
		position: relative;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		height: 100%;
		padding-bottom: 50px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	.also-tabbar{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
		z-index: 500;
		bottom: 0;
		width: 100%;
		background-color: #f7f7fa;
	}
	.also-tabbar__item{
		display: block;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		padding: 5px 0 0;
		font-size: 0;
		color: #999;
		text-align: center;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	.also-tabbar__icon{
		display: inline-block;
		width: 27px;
		height: 27px;
	}
	.also-tabbar__item .also-tabbar__icon2, .also-bar__item_on .also-tabbar__icon1{
		display: none;
	}
	.also-bar__item_on .also-tabbar__icon2{
		display: inline-block;
	}
	.also-tabbar__item.also-bar__item_on .also-tabbar__label{
		color: #36b9bf;
	}
	.also-tabbar__label{
		text-align: center;
		color: #999;
		font-size: 10px;
		line-height: 1.8;
	}
	.also-plan-alert{
		/*position: relative;
		height: calc(100%);*/
	}
	.also-full-height{
		height: calc(100% - 46px);
		overflow-y: scroll;
	}
	.also-as-home-btn{
		display: block;
		padding: 5px 10px;
		font-size: 13px;
		border-radius: 4px;
		color: #fff;
		background-color: #36b9bf;
	}
	.also-as-il{
		font-size: 12px;
		color: #333;
	}
	.also-as-il span{
		margin-right: 10px;
		line-height: 12px;
	}
	.also-as-il span em{
		display: inline-block;
		vertical-align: middle;
		font-style: normal;
	}
	.also-as-il span i{
		display: inline-block;
		width: 12px;
		height: 12px;
		vertical-align: middle;
	}
	.also-as-il span i img{
		width: 100%;
	}
	.btn-green{
		background-color: #36bf73;
	}
	.btn-yellow{
		background-color: #de9a3f;
	}
	.also-saved{
		background: url(../img/saved.png) left top no-repeat;
	}
	.also-promote {
		position: relative;
		width: 50px;
		height: 80px;
		margin: 0 auto;
		background: #72ced2;
		transition-duration: .5s;
		-webkit-transition-duration: .5s;
	}
	.also-promote-score{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 50%;
		background: #36b9bf;
		transition-duration: .5s;
		-webkit-transition-duration: .5s
	}
	.gray{
		background: #aaaaaa!important;
	}
	.gray .also-promote-score{
		background: #c3c3c3;
	}
	.also-promote span{
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		margin-top: -6px;
		height: 12px;
		line-height: 12px;
		text-align: center;
		font-size: 14px;
		color: #fff;
	}
	.circle-wrap{
		position: relative;
		width: 70px;
		height: 70px;
		margin: 0 auto;
		border-radius: 50%;
		text-align: center;
		border: 5px solid #ccc;
	}
	.circle-wrap{    
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.circle-wrap span{
		display: inline-block;
		line-height: 60px;
		font-size: 12px;
		font-weight: bold;
		color: #545454;
	}
	.circle-wrap span i{
		font-size: 18px;
		font-style: normal;
	}
	.circle-wrap svg {
		position: absolute;
		top: -5px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		pointer-events: none;
	}
	.circle-wrap svg path {
		fill: none;
	}
	.circle-wrap svg.circle path{
		stroke: #36b9bf;
		stroke-width: 5;
		stroke-dasharray: 204.244;
		stroke-dashoffset: 204.244;
		transition-duration: .5s;
		-webkit-transition-duration: .5s
	}
	.negative svg.circle path{
		stroke: #fdd05c;
	}
	.also-plac{
		float: right;
		color: #333;
		font-weight: normal;
		font-size: 14px;
	}
	.also-plac i{
		font-size: 16px;
		color: #36b9bf;
		font-style: normal;
	}
	.also-article{
		padding: 20px 15px;
		background-color: #fbf3e5;
		font-size: 15px;
		transition-duration: .3s;
		-webkit-transition-duration: .3s;
		overflow: hidden;
		/*height: 0;*/
	}
	.also-article p {
		margin: 0 0 .8em;
		font-size: 14px;
		color: #666;
	}
	.also-article h3{
		font-weight: 400;
		font-size: 15px;
		margin-bottom: .34em;
		color: #DF9A3F;
	}
	.also-article * {
		max-width: 100%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		word-wrap: break-word;
	}
	#articleBtn{
		display: block;
		width: 100%;
		color: #DF9A3F;
		text-align: center;
		font-size: 14px;
		background:#fbf3e5 url(../img/preliminary-plan_bg_foot.png) center bottom repeat-x;
	}
	.also-s-tit{
		display: inline-block;
		font-style: normal;
		padding: 0px 5px;
		font-size: 12px;
		font-weight: normal;
		color: #de9a3f;
		border: 1px solid #de9a3f;
		border-radius: 4px;
		background-color: #fcf5eb;
	}
	.also-s-ft{
		position: absolute;
		top: 17px;
		right: 0;
		text-align: right;
		display: block;
		height: 20px;
		padding: 0 20px 0 15px;
		font-size: 12px;
		color: #fff;
		font-weight: normal;
		background-color: #36b9bf;
		overflow: hidden;
	}
	.also-s-ft:before{
		position: absolute;
		content: "";
		left: -5px;
		top: 5px;
		width: 10px;
		height: 10px;
		background: #fff;
		-webkit-transform: rotate(45deg) skew(18deg,20deg);
		-moz-transform: rotate(45deg) skew(18deg,20deg);
		-o-transform: rotate(45deg) skew(18deg,20deg);
		-ms-transform: rotate(45deg) skew(18deg,20deg);
		transform: rotate(45deg) skew(18deg,20deg);
	}
	.also-s-ft:after{
		position: absolute;
		content: "";
		right: 5px;
		top: 8px;
	    height: 0;
		width: 0;
		border-top: 4px solid #86d5d9;
		border-right: 4px solid transparent ; 
		border-left: 4px solid transparent;
	}
	.also-small-t{
		font-size: 14px;
		color: #666;
	}
	.also-pic-item{}
	.also-pic .weui-gallery__opr{
		display: none;
	}
	.presBtn, .nextBtn{
		display: block;
		flex: 1;
		height: 50px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		color: #fff;
		background-color: #36b9bf;
	}
	.presBtn{
		background-color: #f7f7fa;
		color: #333333;
	}
	.goldManualLogo{
		position: absolute;
		width: 150px;
		top: 120px;
		left: 50%;
		margin-left: -75px;
		border: 5px solid #36b9bf;
		border-top: none;
		background-color: rgba(255,255,255,.7);
		padding-bottom: 10px;
		text-align: center;
	}
	.goldManualLogo:before, .goldManualLogo:after{
		position: absolute;
		content: "";
		height: 5px;
		width: 40px;
		top: 0;
		background-color: #36b9bf;
	}
	.goldManualLogo:before{
		left: 0;
	}
	.goldManualLogo:after{
		right: 0;
	}
	.goldManualLogo span{
		margin: -30px auto 0;
		display: block;
		width: 50px;
		font-size: 30px;
		line-height: 1.5;
		font-weight: 600;
		color: #36b9bf;
	}
	.gold-icon{
		margin: 6px;
		list-style:none;width:24px;height:24px;display: inline-block;
	}
	/* 场景图标 */
	.c-0101{background-position:-24px 0px}
	.c-0103{background-position:0px -24px}
	.c-0104{background-position:-24px -24px}
	.c-0105{background-position:-48px 0px}
	.c-0106{background-position:-48px -24px}
	.c-0107{background-position:0px -48px}
	.c-0108{background-position:-24px -48px}
	.c-0109{background-position:-48px -48px}
	.c-0110{background-position:-72px 0px}
	.c-0201{background-position:-72px -24px}
	.c-0202{background-position:-72px -48px}
	.c-0203{background-position:0px -72px}
	.c-0204{background-position:-24px -72px}
	.c-0205{background-position:-48px -72px}
	.c-0301{background-position:-72px -72px}
	.c-0302{background-position:-96px 0px}
	.c-0303{background-position:-96px -24px}
	.c-0304{background-position:-96px -48px}
	.c-0305{background-position:-96px -72px}
	.c-0306{background-position:0px -96px}
	.c-0307{background-position:-24px -96px}
	.c-0401{background-position:-48px -96px}
	.c-0402{background-position:-72px -96px}
	.c-0403{background-position:-96px -96px}
	.c-0102{background-position:-120px 0px}
	.c-0101,.c-0103,.c-0104,.c-0105,.c-0106,.c-0107,.c-0108,.c-0109,.c-0110,.c-0201,.c-0202,.c-0203,.c-0204,.c-0205,.c-0301,.c-0302,.c-0303,.c-0304,.c-0305,.c-0306,.c-0307,.c-0401,.c-0402,.c-0403,.c-0102{background-repeat: no-repeat;background-image: url(../img/style_c.png)}
	.gold-set .also-btn-wrap{
		background-color: #fff;
	}
	.gold-set .weui-grid{
		position: relative;
	}
	.gold-set .weui-icon-success{
		position: absolute;
		right: 3px;
		top: 3px;
		display: none;
		color: #36b9bf;
	}
	.weui-grid-on .weui-icon-success{
		display: block;
	}
/* also-login */
	.login-bg{
		height: 100%;
		background-size: 100% auto;
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: bottom center;
		background-image: url(../img/login_pic_bg.png);
	}
	.also-login-wrap{
		padding-top: 60px;
	}
	.also-logo{
		text-align: center;
		margin: 0 auto 60px;
		width: 40%;
	}
	.also-logo img{
		width: 100%;
		max-width: 200px;
	}
	.also-setp{
		margin: 0 auto;
		width: 70%;
		display: -webkit-box;
		display: flex;
	}
	.also-setp-item{
		padding: 50px 0;
		position: relative;
		flex: 1;
	}
	.also-setp-item::before, .also-setp-item::after{
		position: absolute;
		content:"";
		top: 59px;
		width: 45%;
		height: 1px;
		background: #36b9bf;
		z-index: 98;
	}
	.also-setp-stop::before, .also-setp-stop::after{
		background: #ccc;
	}
	.also-setp-item::before{
		left: 0;
	}
	.also-setp-item::after{
		right: 0;
	}
	.also-setp-item:first-child::before{
		background: #fff;
		z-index: -1;
	}
	.also-setp-item:last-child::after{
		background: #fff;
		z-index: -1;
	}
	.also-setp-item p{
		text-align: center;
		font-size: 14px;
		margin-top: 30px;
		color: #36b9bf;
	}
	.also-setp-item span{
		position: absolute;
		top: 45px;
		left: 50%;
		margin-left: -15px;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		z-index: 99;
		background-color: rgba(54, 185, 191, .3);
	}
	.also-setp-item i{
		position: absolute;
		left: 7px;
		top: 7px;
		border-radius: 50%;
		width: 6px;
		height: 6px;
		background-color: #fff;
		border: 5px solid #36b9bf;
	}
	.also-setp-stop span{
		background-color: rgba(204, 204, 204, .3);
	}
	.also-setp-stop i{
		border: 5px solid #ccc;
	}
	.also-setp-stop p{
		color: #ccc;
	}
	.also-setp-box1, .also-setp-box2, .also-setp-box3{
		display: none;
	}
	.also-setp1 .also-setp-box1{
		display: block;
	}
	.also-setp2 .also-setp-box2{
		display: block;
	}
	.also-setp3 .also-setp-box3{
		display: block;
	}
	.plan-page{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		opacity: 0;
		z-index: 1;
		opacity: 1;
		background-color: #fff;
	}
	.gold-bg{
		width: 100%;
		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 100%);
		clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 100%);
	}
/* also-video */
	.video-js .vjs-big-play-button{
		top: 50%!important;
		left: 50%!important;
		width: 2em!important;
		height: 2em!important;
		margin-left: -1em;
		margin-top: -1em;
		border-color: #333!important;
		-webkit-border-radius: 50%!important;
		-moz-border-radius: 50%!important;
		border-radius: 50%!important;
	}
	.video-js .vjs-big-play-button:before{
		color: #999;
		line-height: 2em;
	}